    h1{
    width: 70%;
  padding: 15px;
  font-size:70px;
  text-align: center;
  display: inline;
    }
h2{
    font-size:40px; 
    width: auto; 
    margin: auto;
    text-align: center;
    display: inline;
    }
body {
  background-color: #ffefa9;
  font-size:20px;
  padding: 5px;
  width:100%;
  text-align: center;
}


    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#fffdd0;
  color: black;
  text-align: center;
  height: 3%;
  font-size:10px;
}
    .navbar {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        background-color:#ffefa9;
        padding: 5px;
    }
.navbar button{
    background-color:#f7e4a6;
    width: max-content;
    padding: 14px 40px;
    font-size:20px;
}
.iframe{
    background-color:#ffefa9; 
    display: inline;
    width: 90%;
    padding: 14px 40px;
    border: 5px solid #fffdd0;

}